.text-ellipsis {
  text-overflow: ellipsis " [..]"; /* enables ellipsis */
  white-space: nowrap; /* keeps the text in a single line */
  overflow: hidden; /* keeps the element from overflowing its parent */
}

.ant-descriptions {
  background-color: #fff;

  .ant-descriptions-header {
    padding: 10px 10px 0 10px;
    margin-bottom: 10px;
  }
}


@media only screen and (max-width: 576px) {
  .ant-table-tbody > tr > td {
    padding: 4px !important;
  }
}
