@font-face {
  font-weight: normal;
  font-family: 'Roboto Condensed';
  font-style: normal;
  src: url('https://static.cdn.epam.com/uploads/690afa39a93c88c4dd13758fe1d869d5/EPM-UUI/fonts/RobotoCondensed-Regular.ttf')
    format('truetype');
}
