@font-face {
  font-weight: normal;
  font-family: 'Roboto Condensed';
  font-style: normal;
  src: url('https://static.cdn.epam.com/uploads/690afa39a93c88c4dd13758fe1d869d5/EPM-UUI/fonts/RobotoCondensed-Regular.ttf') format('truetype');
}

$font-sans: 'Sans Regular', 'Arial', sans-serif;

$accent: #008ACE;
$accent2: #83B3C9;
$text: #303240;

$red: #D73A49;
$green: #26AF7E;
$danger: $red;
$warning: orange;
$success: $green;

$h1-fontsize: 66px;
$h2-fontsize: 44px;
$h3-fontsize: 30px;
$h4-fontsize: 28px;
$h5-fontsize: 22px;
$h6-fontsize: 16px;

$gutter-width: 30px;
$sm-max: 540px;
$md-max: 720px;
$lg-max: 980px;
$xl-max: 1290px;
$xs-breakpoint: 0;
$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1360px;
