.tableWrapper {
  margin-bottom: 20px;
  overflow-x: scroll;
}

//.table {
//  min-width: 1200px;
//  max-width: 1300px;
//}

.filter {
  margin-bottom: 40px;
}

.totalValuesItem {
  display: flex;
  margin-bottom: 10px;

  span {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.4);

    &:first-of-type {
      display: inline-block;
      min-width: 100px;
    }
  }
}
