.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  padding-top: 40px;
  padding-bottom: 40px;
  max-width: 1200px;
  flex-grow: 1;
  flex-shrink: 0;
  margin: auto;
}

.spinner {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

a.logo {
  color: #fff;
  font-size: 28px;
  font-weight: bold;

  sub {
    font-weight: normal;
  }
}

.header {
  display: flex;
  justify-content: space-between;
}

.currencyChange {
  padding: 0;
  background-color: transparent;
  border: 0;
  color: white;
  cursor: pointer;
}

.footer {
  background: rgba(#001529, 0.5) !important;
}

@media (max-width: 1536px) {
  .content {
    width: 82%;
  }
}

@media (max-width: 992px) {
  .content {
    width: 90%;
  }
}
