@import '../../../../assets/scss/vars';

$nameCellWidth: 200px;
$statusCellWidth: 110px;
$transportCellWidth: 140px;
$startTimeCellWidth: 110px;
$durationCellWidth: 100px;
$paymentsCellWidth: 130px;
$priceCellWidth: 70px;
$notesCellWidth: 220px;
$actionCellWidth: 110px;

$tableWidth: $nameCellWidth + $transportCellWidth + $startTimeCellWidth +
  $durationCellWidth + $statusCellWidth + $paymentsCellWidth + $priceCellWidth +
  $notesCellWidth + $actionCellWidth;

.tableWrapper {
  margin-bottom: 20px;
  overflow-x: scroll;
}

.table {
  max-width: $tableWidth;
  min-width: $tableWidth;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
}

.row {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 14px 0 10px 0;

  &.current {
    background-color: #00800024;

    &:hover {
      background-color: #00800024;
    }
  }

  &.headerRow {
    .cell {
      border-right: 1px solid rgba(0, 0, 0, 0.2);
      text-align: center;

      &:last-of-type {
        border-right: 0;
      }
    }
  }

  .cell {
    padding: 0 10px;
    flex-grow: 1;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    //flex-shrink: 0;

    &:last-of-type {
      border-right: 0;
    }

    &:nth-child(1) {
      max-width: $nameCellWidth;
    }
    &:nth-child(2) {
      max-width: $statusCellWidth;
      text-align: center;
    }
    &:nth-child(3) {
      max-width: $transportCellWidth;
    }
    &:nth-child(4) {
      max-width: $startTimeCellWidth;
    }
    &:nth-child(5) {
      max-width: $durationCellWidth;
    }
    &:nth-child(6) {
      max-width: $paymentsCellWidth;
    }
    &:nth-child(7) {
      max-width: $priceCellWidth;
    }
    &:nth-child(8) {
      max-width: $notesCellWidth;
    }
    &:nth-child(9) {
      text-align: center;
      max-width: $actionCellWidth;
    }
  }
}

.headerRow {
}

// Styles for separate cells

.transport {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 10px;

  svg {
    font-size: 30px;
    color: rgba(0, 0, 0, 0.4);
  }
}

.actions {
  display: flex;
  flex-wrap: wrap;

  button {
    padding: 2px 5px;
    width: 50%;
    color: grey;

    &:nth-child(1) {
      border-radius: 6px 0 0 0;
    }
    &:nth-child(2) {
      border-radius: 0 6px 0 0;
    }
    &:nth-child(3) {
      border-radius: 0 0 0 6px;
    }
    &:nth-child(4) {
      border-radius: 0 0 6px 0;
    }
  }
}

.btnMore {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  transition: border 0.3s ease-in-out;
  padding-top: 3px;

  &:hover {
    border-color: rgba(0, 0, 0, 0.4);
  }
}

@media only screen and (max-width: 1000px) {
  .table {
    max-width: unset;
    min-width: 360px;
    border-radius: 0;
  }

  .cell {
    margin-bottom: 20px;
    width: 30%;

    &:nth-child(1) {
      min-width: 60%;
    }
    &:nth-child(2) {
      min-width: 40%;
    }
  }
}
