/* You can add global styles to this file, and also import other style files */

html {
  font-family: sans-serif;
  font-size: 14px;
}

.custom-table-wrapper {
  table {
    border: 1px solid lightgray;
    border-collapse: collapse;
  }

  tbody {
    border-bottom: 1px solid lightgray;
  }

  th {
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    padding: 8px;
  }

  tr {
    border-bottom: 2px solid;
    background: #fff;
  }

  td {
    border-right: 1px solid lightgray;
    padding: 8px 12px;
  }

  td:last-child {
    border-right: 0;
  }

  tfoot {
    color: gray;
  }

  tfoot th {
    font-weight: normal;
  }
}

